.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/3920.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 2058px;
}

.u-section-1 .u-shape-1 {
  width: 603px;
  height: 105px;
  background-image: linear-gradient(white, #adcce9);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 43px auto 0;
}

.u-section-1 .u-image-1 {
  width: 70px;
  height: 70px;
  margin: -87px 781px 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -54px 319px 0 389px;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-shape-2 {
  width: 603px;
  height: 105px;
  background-image: linear-gradient(white, #adcce9);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 63px auto 0;
}

.u-section-1 .u-image-2 {
  width: 76px;
  height: 76px;
  margin: -90px 778px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -66px -13px 0 389px;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-shape-3 {
  width: 603px;
  height: 105px;
  background-image: linear-gradient(white, #adcce9);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 62px auto 0;
}

.u-section-1 .u-image-3 {
  width: 77px;
  height: 77px;
  margin: -91px 778px 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -68px -13px 0 389px;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-shape-4 {
  width: 603px;
  height: 105px;
  background-image: linear-gradient(white, #adcce9);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 68px auto 0;
}

.u-section-1 .u-image-4 {
  width: 75px;
  height: 75px;
  margin: -90px 777px 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -66px 12px 0 364px;
}

.u-section-1 .u-btn-4 {
  padding: 0;
}

.u-section-1 .u-shape-5 {
  width: 603px;
  height: 105px;
  background-image: linear-gradient(white, #adcce9);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 55px auto 0;
}

.u-section-1 .u-image-5 {
  width: 71px;
  height: 71px;
  margin: -90px 778px 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -62px -13px 0 389px;
}

.u-section-1 .u-btn-5 {
  padding: 0;
}

.u-section-1 .u-shape-6 {
  width: 603px;
  height: 105px;
  background-image: linear-gradient(white, #adcce9);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 55px auto 0;
}

.u-section-1 .u-image-6 {
  width: 62px;
  height: 62px;
  margin: -83px 781px 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -59px -13px 0 389px;
}

.u-section-1 .u-btn-6 {
  padding: 0;
}

.u-section-1 .u-shape-7 {
  width: 603px;
  height: 105px;
  background-image: linear-gradient(white, #adcce9);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 55px auto 0;
}

.u-section-1 .u-image-7 {
  width: 57px;
  height: 58px;
  margin: -80px 785px 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -59px -13px 0 389px;
}

.u-section-1 .u-btn-7 {
  padding: 0;
}

.u-section-1 .u-shape-8 {
  width: 603px;
  height: 105px;
  background-image: linear-gradient(white, #adcce9);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 55px auto 0;
}

.u-section-1 .u-image-8 {
  width: 71px;
  height: 71px;
  margin: -88px 777px 0 auto;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -64px -13px 0 389px;
}

.u-section-1 .u-btn-8 {
  padding: 0;
}

.u-section-1 .u-shape-9 {
  width: 839px;
  height: 105px;
  background-image: linear-gradient(white, #adcce9);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 55px auto 0;
}

.u-section-1 .u-image-9 {
  width: 68px;
  height: 68px;
  margin: -87px 888px 0 auto;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -64px 108px 0 269px;
}

.u-section-1 .u-btn-9 {
  padding: 0;
}

.u-section-1 .u-shape-10 {
  width: 839px;
  height: 105px;
  background-image: linear-gradient(white, #adcce9);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 55px auto 0;
}

.u-section-1 .u-image-10 {
  width: 68px;
  height: 68px;
  margin: -84px 888px 0 auto;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -64px 108px 0 269px;
}

.u-section-1 .u-btn-10 {
  padding: 0;
}

.u-section-1 .u-shape-11 {
  width: 839px;
  height: 105px;
  background-image: linear-gradient(white, #adcce9);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 54px auto 0;
}

.u-section-1 .u-image-11 {
  width: 64px;
  height: 64px;
  margin: -85px 890px 0 auto;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -61px 108px 0 269px;
}

.u-section-1 .u-btn-11 {
  padding: 0;
}

.u-section-1 .u-shape-12 {
  width: 839px;
  height: 105px;
  background-image: linear-gradient(white, #adcce9);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 54px auto 0;
}

.u-section-1 .u-image-12 {
  width: 64px;
  height: 64px;
  margin: -85px 890px 0 auto;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -61px 108px 0 269px;
}

.u-section-1 .u-btn-12 {
  padding: 0;
}

.u-section-1 .u-shape-13 {
  width: 839px;
  height: 105px;
  background-image: linear-gradient(white, #adcce9);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 55px auto 0;
}

.u-section-1 .u-image-13 {
  width: 61px;
  height: 61px;
  margin: -85px auto 0 187px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -59px 108px 0 269px;
}

.u-section-1 .u-btn-13 {
  padding: 0;
}

.u-section-1 .u-shape-14 {
  width: 839px;
  height: 105px;
  background-image: linear-gradient(white, #adcce9);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 57px auto 0;
}

.u-section-1 .u-image-14 {
  width: 64px;
  height: 64px;
  margin: -85px 888px 0 auto;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -63px 108px 60px 269px;
}

.u-section-1 .u-btn-14 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1697px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 219px;
    margin-left: 289px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 289px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 289px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 176px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 289px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -60px;
    margin-left: 289px;
  }

  .u-section-1 .u-image-7 {
    height: 57px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -58px;
    margin-left: 289px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 289px;
  }

  .u-section-1 .u-image-9 {
    margin-right: 872px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 8px;
    margin-left: 169px;
  }

  .u-section-1 .u-image-10 {
    margin-right: 872px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -65px;
    margin-right: 8px;
    margin-left: 169px;
  }

  .u-section-1 .u-image-11 {
    margin-right: 876px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 8px;
    margin-left: 169px;
  }

  .u-section-1 .u-image-12 {
    margin-right: 876px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -60px;
    margin-right: 8px;
    margin-left: 169px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 8px;
    margin-left: 169px;
  }

  .u-section-1 .u-image-14 {
    margin-right: 876px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -62px;
    margin-right: 8px;
    margin-left: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 445px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1300px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 650px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 109px;
    margin-left: 179px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 644px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 179px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 643px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 179px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 645px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    margin-right: 649px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 179px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 658px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 179px;
  }

  .u-section-1 .u-image-7 {
    margin-right: 663px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 179px;
  }

  .u-section-1 .u-image-8 {
    margin-right: 649px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 179px;
  }

  .u-section-1 .u-shape-9 {
    width: 720px;
  }

  .u-section-1 .u-image-9 {
    margin-right: 652px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-shape-10 {
    width: 720px;
  }

  .u-section-1 .u-image-10 {
    margin-right: 652px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-shape-11 {
    width: 720px;
  }

  .u-section-1 .u-image-11 {
    margin-right: 656px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-shape-12 {
    width: 720px;
  }

  .u-section-1 .u-image-12 {
    margin-right: 656px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-shape-13 {
    width: 720px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-shape-14 {
    width: 720px;
  }

  .u-section-1 .u-image-14 {
    margin-right: 656px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 334px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 975px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 470px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 19px;
    margin-left: 89px;
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 464px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-shape-3 {
    width: 540px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 463px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-shape-4 {
    width: 540px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 465px;
  }

  .u-section-1 .u-shape-5 {
    width: 540px;
  }

  .u-section-1 .u-image-5 {
    margin-right: 469px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-shape-6 {
    width: 540px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 478px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-shape-7 {
    width: 540px;
  }

  .u-section-1 .u-image-7 {
    margin-right: 483px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-shape-8 {
    width: 540px;
  }

  .u-section-1 .u-image-8 {
    margin-right: 469px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-shape-9 {
    width: 540px;
  }

  .u-section-1 .u-image-9 {
    margin-right: 472px;
  }

  .u-section-1 .u-shape-10 {
    width: 540px;
  }

  .u-section-1 .u-image-10 {
    margin-right: 472px;
  }

  .u-section-1 .u-shape-11 {
    width: 540px;
  }

  .u-section-1 .u-image-11 {
    margin-right: 476px;
  }

  .u-section-1 .u-shape-12 {
    width: 540px;
  }

  .u-section-1 .u-image-12 {
    margin-right: 476px;
  }

  .u-section-1 .u-shape-13 {
    width: 540px;
  }

  .u-section-1 .u-shape-14 {
    width: 540px;
  }

  .u-section-1 .u-image-14 {
    margin-right: 476px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 210px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 270px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 264px;
  }

  .u-section-1 .u-shape-3 {
    width: 340px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 263px;
  }

  .u-section-1 .u-shape-4 {
    width: 340px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 265px;
  }

  .u-section-1 .u-shape-5 {
    width: 340px;
  }

  .u-section-1 .u-image-5 {
    margin-right: 269px;
  }

  .u-section-1 .u-shape-6 {
    width: 340px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 278px;
  }

  .u-section-1 .u-shape-7 {
    width: 340px;
  }

  .u-section-1 .u-image-7 {
    margin-right: 283px;
  }

  .u-section-1 .u-shape-8 {
    width: 340px;
  }

  .u-section-1 .u-image-8 {
    margin-right: 269px;
  }

  .u-section-1 .u-shape-9 {
    width: 340px;
  }

  .u-section-1 .u-image-9 {
    margin-right: 272px;
  }

  .u-section-1 .u-shape-10 {
    width: 340px;
  }

  .u-section-1 .u-image-10 {
    margin-right: 272px;
  }

  .u-section-1 .u-shape-11 {
    width: 340px;
  }

  .u-section-1 .u-image-11 {
    margin-right: 276px;
  }

  .u-section-1 .u-shape-12 {
    width: 340px;
  }

  .u-section-1 .u-image-12 {
    margin-right: 276px;
  }

  .u-section-1 .u-shape-13 {
    width: 340px;
  }

  .u-section-1 .u-shape-14 {
    width: 340px;
  }

  .u-section-1 .u-image-14 {
    margin-right: 276px;
  }
}